//
   Created by yangdongxu on 15/4/23.

.kai-table-wrap(ng-init="init()")
    div.clearfix(style="margin-bottom:10px")
        .col-md-5(style="padding-left:0")
            .input-group
                span.input-group-addon
                    i.fa.fa-search
                input.form-control(ng-model="searchFilter",ng-change="filterKeyWords()",type="text")
        .col-md-7(style="padding-right:0")
            button(ng-repeat="b in options.topButtons",
            class="{{b.className}} pull-right",
            style="margin-left:5px;padding-left:20px;padding-right:20px",
            ng-click="b.action()")
                i(ng-if="b.icon",class="{{b.icon}}")
                | {{b.title}}
    table.table.table-condensed.table-hover(style="border:1px solid #ddd;margin-bottom:0")
        thead
            tr
                th(ng-show="options.checkbox",width="30px")
                    input(type="checkbox",ng-click="checkboxHandler()",ng-model="allChecked")
                th(ng-repeat="f in fields",style="cursor:pointer;",
                ng-click="sort(f)",
                width="{{f.width}}")
                    |{{f.title}} &nbsp;
                    span(ng-if="f.sort")
                        span.text-muted(ng-if="sortKey != f.key")
                            i.fa.fa-sort
                        span(ng-if="sortKey == f.key && sortType == 'asc'")
                            i.fa.fa-sort-asc.text-primary
                        span(ng-if="sortKey == f.key && sortType == 'desc'")
                            i.fa.fa-sort-desc.text-primary
                th(ng-if="options.buttons")
        tbody
            tr(ng-repeat="r in theRows")
                td(ng-if="options.checkbox")
                    input(type="checkbox",ng-click="checkboxHandler(r)",ng-model="r.checked")
                td(ng-repeat="f in fields",
                bind-html-unsafe="f.valueHandler && f.valueHandler(valueOfKey(r, f.key)) || valueOfKey(r, f.key)")
                td(ng-if="options.buttons",style="text-align:right")
                    a(href="javascript:;",
                    ng-repeat="btn in options.buttons",
                    class="{{btn.className}}",
                    ng-click="btn.action(r)",
                    style="margin-right:10px")
                        i(ng-if="btn.icon",class="{{btn.icon}}",style="margin-right:2px")
                        |{{btn.title}}
    div(ng-show="!theRows || theRows.length === 0",
    style="border-left:1px solid #ddd;border-right:1px solid #ddd;border-bottom:1px solid #ddd;")
        div.text-muted(style="padding:10px;",ng-show="!options.isLoading")
            i.fa.fa-info-circle
            |&nbsp;no data
        div(style="padding:10px",ng-show="options.isLoading")
            span
                i.fa.fa-spin.fa-spinner
                |&nbsp; loading...

    div.clearfix(style="margin-bottom:10px")
        .col-md-6(style="padding-left:0")
            pagination(ng-show="options.pagination.current",
            total-items="options.pagination.totalItems",
            items-per-page="options.pagination.itemsPerPage",
            ng-model="options.pagination.current",
            max-size="options.pagination.maxSize",
            class="pagination-sm",
            boundary-links="options.pagination.boundaryLinks",
            rotate="options.pagination.rotate",
            previous-text="{{options.pagination.previousText}}",
            next-text="{{options.pagination.nextText}}",
            first-text="{{options.pagination.firstText}}",
            last-text="{{options.pagination.lastText}}",
            num-pages="options.pagination.numPages",
            ng-change="options.pagination.action(options.pagination.current)")
        .col-md-6(ng-show="options.pagination.current",style="padding-right:0")
            p.text-muted.text-right(style="margin:16px 0")
                |每页 {{options.pagination.itemsPerPage}} 条记录 / 共 {{options.pagination.totalItems}} 条记录
